/* CSS file for styling the Weather Widget component. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.weather-widget {
  padding: 10px;
  border-radius: 5px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.weather-widget h4 {
  margin: 5px 0;
}

.weather-widget img {
  width: 50px;
  height: 50px;
}

.weather-widget p {
  margin: 5px 0;
}

.weather-widget p:nth-child(4) {
  font-size: 0.9rem;
  font-weight: bold;
}

.weather-widget p:nth-child(3),
.weather-widget p:nth-child(5) {
  font-size: 0.85rem;
}

.weather-widget p:nth-child(5) {
  font-size: 0.75rem;
}