.select {
  font-size: 25px;
  padding: 5px 5px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 5px;
  transition: all 0.15s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}

/* Add wrapper to push quotes to the bottom above footer */
.Quotes-container-wrapper {
  flex: 1; /* takes remaining space */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* push quotes to bottom */
  align-items: center;
  margin-bottom: 20px; /* spacing above footer */
}

blockquote {
  font-style: italic;
  font-size: 1.2rem;
  margin: 5px 0;
}

footer {
  margin-top: 5px;
  font-size: 1rem;
}
